.body--light {
  .default-table .q-table tbody tr:nth-child(even) {
    background-color: #dfdfdf;
  }
  .default-table .q-table tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  .bg-image {
    background-color: var(--bg-light);
  }
  header {
    background-color: var(--bg-headers-light) !important;
    color: var(--text-headers-light) !important;
  }
  .q-drawer-container > aside {
    background-color: var(--bg-menu-light) !important;
    color: var(--text-menu-light) !important;
  }
  .q-drawer-container .q-item__section--side {
    color: var(--text-menu-light) !important;
  }
  aside .menu-avatar {
    background-color: var(--bg-menu-avatar-light);
  }
  .q-layout__shadow:after {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24), 0 0px 10px rgba(0, 0, 0, 0.2) !important;
  }
}

.default-table .q-table--grid.fullscreen {
  background: #fff;
}

.default-table .dragging-column {
  border-left: 2px solid #babaca;
  border-right: 2px solid #babaca;
}

.default-table .header-filter-container {
  background: #fff;
}

.default-table .q-table__grid-content {
  background: #fff;
}

.default-table .q-table__grid-content .q-card__section:nth-child(1) {
  background: var(--primary);
  color: #fff;
}

.default-table .q-table__grid-content .q-list .q-item {
  border-bottom: 1px #e0e0e0 solid;
}

.default-table .header-filter-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.default-table .q-table__bottom {
  background-color: #fff;
}

.default-table .selected-card {
  background: #f1f1f1;
}
.default-table .table-toolbar .q-space {
  background: #fff;
}

.default-table .q-table__grid-content .q-card__section:nth-child(1) {
  background: var(--primary);
}

.default-table .q-table__middle.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.default-table .q-table__middle.scroll::-webkit-scrollbar-thumb {
  background: #888;
}

.default-table .q-table__middle.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.default-table.full-height .q-table__bottom {
  background-color: #fff;
}
