  // app global css in SCSS form
  .bg-image {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-transition: background opacity 3s ease-in-out;
    -moz-transition: background opacity 3s ease-in-out;
    -o-transition: background opacity 3s ease-in-out;
    transition: background opacity 3s ease-in-out;
    background-color: #fafafa;
  }

.q-table__middle.scroll {
  overflow: visible !important;
}
main > .q-card {
  box-shadow: none !important;
}

table thead tr:first-child th:first-child,
table td:first-child {
  position: sticky;
  -webkit-position: sticky; /* add this line */
  left: 0;
  z-index: 1;  
  opacity: 1;
}
tr:nth-child(even) {
  background-color: #dfdfdf;
}
tr:nth-child(odd) {
  background-color: #fff;
}
