$primary: #022736;
$secondary: #1c8fbd;
$accent: #febc1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$bg-menu: #157296;
$bg-headers: #fff;
$bg-page: #fff;

$text-headers: #022736;
$text-menu: #fff;